@tailwind base;
@tailwind components;
@tailwind utilities;


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


.text, .anim-text,.anim{
  display: inline-block;
  transform: translateY(100%);
}

.modal{
  translate: -100% 0;
}

@layer components{
  .italic-text{
    @apply font-playfair italic  mx-3 font-medium;
  }
  .list{
    @apply relative ml-1;
  }
  #item{
    @apply absolute top-0 left-0 text-white text-3xl align-middle;
  }

.card{
  @apply flex flex-col h-auto w-96 ;
}

.card-header{
  @apply bg-red-500;
}

  /* .intro-text{
    @apply 
  } */
}